/** Tag Common */

body {
    min-width: 320px;
    overflow-y: scroll;
}

h1 {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
}

h2 {
    font-size: 150%;
    font-weight: normal;
    margin: 0;
}

h3 {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
}

/** customTable  */

.table-wrap {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    border: solid 1px black;
    min-height: 584px;
}

.table-wrap table {
    width: 100%;
}

.table-wrap th, .table-wrap td {
    border-bottom: solid 1px gray;
    border-right: solid 1px gray;
    vertical-align: top
}

.table-wrap thead th {
    background: lightsteelblue;
    color: black;
    font-weight: normal;
    border-top-style: none;
}

.table-wrap tbody tr:hover {
    background: #CCFFCC;
}

.table-wrap th:first-child, .table-wrap td:first-child {
    border-left-style: none;
}

.table-wrap th:last-child, .table-wrap td:last-child {
    border-right-style: none;
}

.table-wrap thead a {
    color: black;
    font-weight: normal;
}

.table-wrap tr:nth-child(even) {
    background: #eee;
}

.table-wrap .asc:after {
    content: '▽';
    font-size: 50%;
}

.table-wrap .desc:after {
    content: '△';
    font-size: 50%;
}

.pagination-wrap {
    float: right;
}

.pagination-wrap+* {
    clear: both;
}

.pagination {
    margin-bottom: 0;
}

/** customDl */

.dl-wrap {
    border-top: solid 1px rgb(222, 226, 230);
}

.dl-wrap dl {
    border-bottom: solid 1px rgb(222, 226, 230);
}

.dl-wrap>.row {
    margin: 0;
}

.dl-wrap>.row>dt, .dl-wrap>.row>dd {
    padding: 0;
    margin-bottom: 0;
    min-height: 1.5em;
}

.dl-wrap-form dl {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.dl-wrap-form dt {
    font-weight: normal;
}

/** Common layout */

body>header {
    min-height: 40px;
}

.nav-item:hover {
    background: darkslategray;
}

@media (min-width: 768px) {
    .side-menu {
        flex: 0 0 139px;
    }
}

/** Common style */

form>.input {
    margin-bottom: 1em;
}

.error-message {
    color: #cc0000;
    font-size: 85%;
}

.required label::after, dt.required::after {
    color: #cc0000;
    content: '*';
}

.button-wrap {
    text-align: center;
    letter-spacing: -0.4em;
}

.button-wrap .btn {
    margin: 2px;
    letter-spacing: normal;
}

/** Page */

.view, .add, .edit, .Homes.profile, .Homes.password {
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .view, .add, .edit, .Homes.profile, .Homes.password {
        width: 100%;
    }
}

.Homes.login {
    max-width: 320px;
    margin: 0 auto;
}