@charset "utf-8";
body {
    min-width: 320px;
    overflow-y: scroll;
}

h2, h3 {
    font-size: 1.5rem;
}

ul {
    /* list-style-type: none;
    padding-left: 1em; */
    margin-bottom: 0;
}

/** Custom table */

.table-wrap {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    border: solid 1px black;
    min-height: 584px;
}

.table-wrap table {
    width: 100%;
}

.table-wrap th, .table-wrap td {
    border-bottom: solid 1px gray;
    border-right: solid 1px gray;
    vertical-align: top;
    padding: 1px 4px;
    font-size: 0.95rem;
}

.table-wrap thead th {
    background: lightsteelblue;
    color: black;
    font-weight: normal;
    border-top-style: none;
}

.table-wrap tbody tr:hover {
    background: #CCFFCC;
}

.table-wrap th:first-child, .table-wrap td:first-child {
    border-left-style: none;
}

.table-wrap th:last-child, .table-wrap td:last-child {
    border-right-style: none;
}

.table-wrap thead a {
    color: black;
    font-weight: normal;
}

.table-wrap tr:nth-child(even) {
    background: #eee;
}

.table-wrap .asc:after {
    content: '▽';
    font-size: 50%;
}

.table-wrap .desc:after {
    content: '△';
    font-size: 50%;
}

.pagination-wrap {
    float: right;
}

.pagination-wrap+* {
    clear: both;
}

.pagination-wrap .pagination {
    margin-bottom: 0;
}

/** Custom list */

.dl-wrap {
    border-top: solid 1px rgb(222, 226, 230);
}

.dl-wrap dl {
    border-bottom: solid 1px rgb(222, 226, 230);
}

.dl-wrap>.row {
    margin: 0;
}

.dl-wrap>.row>dt, .dl-wrap>.row>dd {
    padding: 0;
    margin-bottom: 0;
    min-height: 1.5em;
}

.dl-wrap.dl-wrap-form dt, .dl-wrap.dl-wrap-form dd {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

/** Button field wrap */

.button-wrap {
    text-align: center;
    letter-spacing: -0.4em;
}

.button-wrap .btn {
    margin: 2px;
    letter-spacing: normal;
}

/** Layout */

body>header {
    white-space: nowrap;
    overflow-x: hidden;
}

body>header h1 {
    font-size: 1rem;
    line-height: 30px;
    height: 41px;
    margin: 0;
}

.navbar {
    background: #eee;
    padding: 0 16px;
}

.navbar-nav a {
    border-bottom: solid 1px transparent;
    color: #555;
}

.navbar-nav a:hover {
    color: black;
    border-bottom: solid 1px orangered;
}

.navbar-brand {
    color: black;
}

.loading {
    position: fixed;
    bottom: 2em;
    right: 2em;
    color: #28a745;
    z-index: 1000;
}

/** Form */

form>.input {
    margin-bottom: 1em;
}

.form-check {
    padding-left: 0;
}

.error-message {
    color: #cc0000;
    font-size: 85%;
}

.required label::after {
    color: #cc0000;
    content: '*';
}

/** Page width */

.view, .add, .edit, .Homes.profile, .Homes.password {
    width: 50%;
    min-width: 722px;
}

@media (max-width: 767px) {
    .view, .add, .edit, .Homes.profile, .Homes.password {
        width: 100%;
        min-width: auto;
    }
}

.Homes.index {
    max-width: 600px;
}

.Homes.login {
    max-width: 320px;
}